<div fxLayout="column" >
  <div fxLayoutAlign="center" fxLayout="row">
    <form  [formGroup]="formLogin" (ngSubmit)="onSubmit()" >

      <mat-card class="login-card mat-elevation-z8" >
          <mat-card-title class="mt-2">Login</mat-card-title>
          <mat-card-content fxLayout="column" *ngIf="!loading" >
            <mat-form-field class="mt-4">
              <input matInput formControlName="email" type="email"
                  placeholder="E-mail" autocomplete="email" readonly="false">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="password" type="password"
                placeholder="Password" autocomplete="password">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="end center" >
            <button mat-raised-button class="mb-2" color="primary" type="submit" [disabled]="!formLogin.valid">
              <mat-icon>check</mat-icon>
              Login
            </button>
          </mat-card-actions>
          <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </mat-card>
    </form>

  </div>
</div>
